.slime-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.slime {
    float: right;
    height: 100vh;
    width: 800px;
    transform: translateY(35%);
    background-color: var(--color-primary);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 20%;
    transition: var(--transition-duration);
    animation: slime 30s infinite;
    box-shadow: var(--box-shadow);
}

@media (max-width: 1035px) {
    .slime {
        height: 100vh;
        width: 800px;
    }
}

@keyframes slime {
    0% {
        border-top-left-radius: 85%;
        border-top-right-radius: 65%;
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 90%;
        transform: rotate(0deg);
        transform: translateY(35%);
    }
    25% {
        border-top-left-radius: 95%;
        border-top-right-radius: 65%;
        border-bottom-left-radius: 55%;
        border-bottom-right-radius: 55%;
        transform: rotate(80deg);
        transform: translateY(50%);
    }
    50% {
        border-top-left-radius: 80%;
        border-bottom-left-radius: 85%;
        border-bottom-right-radius: 55%;
        transform: rotate(95deg);
        transform: translateY(60%);
    }
    75% {
        border-top-left-radius: 60%;
        border-top-right-radius: 85%;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 55%;
        transform: rotate(180deg);
        transform: translateY(50%);
    }
    100% {
        border-top-left-radius: 40%;
        border-top-right-radius: 65%;
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 90%;
        transform: rotate(0deg);
        transform: translateY(35%);
    }
}