.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
}


@media (max-width: 768px) {
    .questions p.title-3 {
        text-align: center;
    }
}