.edit-avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    cursor: pointer;
}

.edit-avatar-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 735px) {
    .edit-profile .mr-1 {
        margin-right: 0;
    }
    .edit-profile-container {
        flex-direction: column;
    }
}