.profile {
    padding-top: 30px;
}

.profile-info {
    position: relative;
    min-height: 25vh;
}

.profile-info-content {
    margin: 0 auto;
}

.profile-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--text-dark);
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile-image-md {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
    object-position: center;
}

.profile-image-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.25rem;
    object-fit: cover;
    object-position: center;
}

.profile-image-placeholder {
    min-height: 150px;
    min-width: 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    font-size: 6rem;
    font-weight: 500;
    line-height: 150px;
    text-align: center;
    background-color: var(--color-border);
    color: var(--text-dark);
    text-transform: uppercase;
}


.profile-image-placeholder.profile-image-placeholder-md {
    min-width: 45px;
    min-height: 45px;
    height: 45px;
    width: 45px;
    font-size: 1.75rem;
    margin: 0;
    line-height: 45px;
    margin-right: 0.5rem;
}

.profile-image-placeholder.profile-image-placeholder-sm {
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 1.15rem;
    margin: 0 0.25rem 0 0;
}

.username.blink {
    height: 25px;
    border-radius: var(--border-radius);
    background-color: var(--color-border);
}

.profile-info.blink .flex-grow {
    max-width: 300px;
    flex-basis: 0;
}

.profile-image-placeholder {
    margin: 0 28px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

@media (max-width: 735px) {
    .profile-image-placeholder {
        min-height: 100px;
        min-width: 100px;
        height: 100px;
        width: 100px;
        line-height: 100px;
        font-size: 4rem;
        margin: 0 12px 0 0;
    }
    .profile-info-container {
        justify-content: space-between;
        margin-bottom: 0;
    }
    .profile-header {
        justify-content: flex-end;
    }
    .profile-image {
        height: 100px;
        width: 100px;
    }
}