.auth {
    height: 100vh;
}

.auth-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 10vh;
    max-width: 600px;
    z-index: 1;
    position: relative;
}

.auth-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: var(--color-main);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.auth-container .form-header {
    width: 100%;
    border-bottom: 2px solid var(--color-secondary);
    padding: 10px 0;
}

.auth-container .form-header svg {
    width: 40px;
    height: 40px;
    fill: var(--text-dark);
    margin-right: 8px;
}

.auth-container .auth-form {
    padding: 25px 35px;
}

.left-window-wrapper {
    width: 40vw;
}

.left-window {
    width: 40vw;
    height: 100vh;
    background-color: var(--color-primary);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 20%;
}

.username-field .hoast {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem 0.75rem;
    padding-right: 0;
}

.username-field input {
    padding-left: 0;
    box-shadow: none;
    border: 0;
}

.username-field {
    border-bottom: 2px solid var(--color-secondary);
    transition: var(--transition-duration);
}

.username-field:hover {
    border-color: var(--color-primary);
    box-shadow: var(--box-shadow);
}