.auth-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    max-width: 600px;
    z-index: 1;
    position: relative;
}

.auth-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: var(--color-main);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.auth-container .form-header {
    width: 100%;
    padding: 10px 0;
}

.auth-container .form-header svg {
    width: 40px;
    height: 40px;
    fill: var(--text-dark);
    margin-right: 8px;
}

.auth-container .auth-form {
    padding: 0 35px 25px 35px;
}
